<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
	</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/lzdx_cxzx_db?userUnicode=true&amp;characterEncoding=gbk</property>
	<property name="connection.username">lzdx</property>
	<property name="connection.password">lzdx</property>
	<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
	<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.min_size">1</property>

	<property name="hibernate.c3p0.timeout">10</property>

	<property name="hibernate.c3p0.max_statements">200</property>

	<property name="hibernate.c3p0.idle_test_period">3000</property>
	

	<property name="hibernate.c3p0.acquire_increment">5</property>

	<property name="hibernate.c3p0.validate">true</property>
	 
	<property name="hibernate.c3p0.initial_pool_size">5</property>
	<property name="hibernate.c3p0.max_idle_time">10</property>	
	<property name="hibernate.c3p0.num_helper_threads">5</property>	
 
	<property name="current_session_context_class">thread</property>
	<property name="cache.provider_class">
		org.hibernate.cache.EhCacheProvider
	</property>
	
	<property name="show_sql">true</property>
	
	<mapping resource="cn/edu/lzu/db/beans/News.hbm.xml" />
	<mapping resource="cn/edu/lzu/db/beans/SubjectsNewsRelation.hbm.xml" />

	
</session-factory>
</hibernate-configuration>
